// Here you can add other styles

.bg-primary {
    background-color: #3c4b64 !important;
  }

  .btn-primary {
    color: #fff;
    background-color: #3c4b64 !important;
    border-color: #3c4b64 !important;
  }